# .vscode was initially created for the json file that is used for debugging
.vscode/
.VSCodeCounter/
python_files_data_structure_based/
open3d_views_jsons/
my-lib/
Junk/
cuda_containment_logs/
__pycache__/
figures
.python-version
.bashrc.swp
# Ignore Python bytecode and cache folders
*.pyc
*.png
*.json
*.gif




