# .vscode was initially created for the json file that is used for debugging
.vscode
.VSCodeCounter/
figures
.python-version
.bashrc.swp
**/cuda_containment_logs/
# Ignore Python bytecode and cache folders
__pycache__/
*.pyc
**/__pycache__/
**/*.pyc
*.png
*.json
*.gif
