[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.nvidia.com/"
verify_ssl = true
name = "pypinvidia"

[packages]
numpy = "*"
pydicom = "*"
termcolor = "*"
matplotlib = "*"
shapely = "*"
open3d = "*"
pyqt5 = "*"
prettytable = "*"
scikit-learn = "*"
multiprocess = "*"
dill = "*"
rich = "*"
"stopwatch.py" = "*"
textual = "*"
plotly = "*"
statsmodels = "*"
cubinlinker-cu11 = { index = "pypinvidia"}
ptxcompiler-cu11 = { index = "pypinvidia"}
cuda-python = ">=12.0"
rmm-cu12 = { index = "pypinvidia"}
cudf-cu12 = { index = "pypinvidia"}
cuspatial-cu12 = { index = "pypinvidia"} 
cupy-cuda12x = "*"
pysimplegui = "*"
seaborn = "*"
astropy = "*"
pyradiomics = "*"
pympler = "*"
pandas = "*"
networkx = "*"
ortools = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
gputil = "*"
psutil = "*"
simpleitk = "*"
alphashape = "*"
pymeshfix = "*"
line-profiler = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
