[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pydicom = "*"
termcolor = "*"
matplotlib = "*"
sklearn = "*"
pandas = "*"
anytree = "*"
shapely = "*"
open3d = "*"
vtk = "*"
pyqt5 = "*"
mayavi = "*"
alphashape = "*"
prettytable = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
