[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.nvidia.com/"
verify_ssl = true
name = "pypinvidia"

[packages]
numpy = "*"
pydicom = "*"
termcolor = "*"
matplotlib = "*"
pandas = "*"
 # anytree = "*"
shapely = "*"
open3d = "*"
 # vtk = "*"
pyqt5 = "*"
 # alphashape = "*"
prettytable = "*"
scikit-learn = "*"
 # pymeshfix = "*"
 # pyvista = "*"
multiprocess = "*"
dill = "*"
 # pathos = "*"
rich = "*"
"stopwatch.py" = "*"
textual = "*"
plotly = "*"
 # kaleido = "*"
statsmodels = "*"
 # addict = "*"
cubinlinker-cu11 = { index = "pypinvidia"}
ptxcompiler-cu11 = { index = "pypinvidia"}
rmm-cu11 = { index = "pypinvidia"}
cudf-cu11 = { index = "pypinvidia"}
cuspatial-cu11 = { index = "pypinvidia"} 
cupy-cuda11x = "*"
pysimplegui = "*"
seaborn = "*"
astropy = "*"
pyradiomics = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
